<!DOCTYPE html>
<head>
    <title>Remote Control Head Setup</title>
</head>
<body>
     <form action = "http://localhost:5000/" method = "post">
         <center>
        <div style = top:500px;>
        <input type="submit" value="LEFT" name="action1"/>
        <input type="submit" value="RIGHT" name="action2" />
        <input type="submit" value="CENTER" name="action3" />
        <input type="submit" value="BACK" name="action4" />
        <input type="submit" value="NEXT" name="action5" />
        <input type="submit" value="ZOOM" name="action6" />

         </center>
     </form>


</body>
</html>